langchain
langchain-anthropic
python-dotenv
browser-use
flask 
langchain-google-genai 
langchain-ollama
langchain-google-genai 
google-generativeai
flask_httpauth
flask[async]
pillow
pytesseract
websockets
flask-httpauth 
pynput
pyautogui
opencv-python
numpy
aiohttp
firebase-admin